<header>
  <div class="title">
    <h1>Weather App</h1>
  </div>

  <div class="sub-title">
       <span class="type"></span>   
  </div>    

  <nav>
    <div class="navigation">
     <ul>
        <button type="button" class="btn btn-primary btn-lg"><a href="/dashboard">Dashboard</a></button>
     </ul>
    </div>
  </nav>
   <script>  
                       var typed = new Typed('.type', {
                        strings: ['Enter location!!', 'Get instant predictions','At a buttons click'],
                        typespeed: 500,
                        backspeed: 500,
                        loop: true
                                      });
        
   </script>
</header>